.text-primary{
    color:#3f454d !important;
}
.bg-primary{
    background-color: #3f454d !important;
}
.text-secondary{
    color: #00afaa !important;
}
.bg-secondary{
   background-color: #00afaa !important;
}
.banner{
    background-image: url(../images/ima.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0; 
}

/*  built banner */

.built{
    background-color: #c8cecf;
}
.contact{
    background-color: #1B222C;
}

footer{
    background-color: #3f454d;

}

footer a {
    text-decoration: none;
}
footer li{
    color: #ffffff7a;
    list-style: none;
    padding: 10PX 0;
}
